*{
    margin:0px
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.box {
    margin: 5px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    width: 320px;
    height: 420px;      /* FIXED CARD HEIGHT */
}

.img{
    display:flex;
    justify-content:center;
    align-items:center;
}

.img img{
    width:200px;
    height:200px;
    object-fit:cover;
}

.box p{
    height:40px;        /* FIX DESCRIPTION HEIGHT */
    overflow:hidden;    /* hide extra text */
}